<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enter a thing</title>
  </head>
  <body>
    <h1>Enter somethings:</h1>
    <form action="/" method="post">
      <input type="text" name="x1"> X1 <br>
      <input type="text" name="y1"> Y1 <br>
      <input type="text" name="x2"> X2 <br>
      <input type="text" name="y2"> Y2 <br>
      <button type="submit" name="button">hit submit</button>
    </form>
    <ul>
      <li>@Model</li>
    </ul>
  </body>
</html>
